.App{
  /* background-image: repeating-radial-gradient(red 20px,yellow 40px, blue 60px,violet 80px); */
  aspect-ratio: 2/1;
  background-color: black;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 80vw;
  height: 80vh;
  background-image: linear-gradient(to left,rgb(99, 8, 97),rgb(231, 24, 24));
  
}
